{% extends 'base.html' %}

{% load static %}
{% block title %}Пароль изменён{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block header %}
    {% include 'headerAuth.html' %}
{% endblock %}

{% block content %}
<div class='row justify-content-center'>
    <div class='col-md-8 p-5'>
        <div class='card'>
            <div class='card-header'>Пароль изменён</div>
            <div class='card-body'>
                <p>Пароль изменён успешно</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}