<ul class="tags">
    <li class="tags__item">
        <a  id="breakfast"
            class="tags__checkbox tags__checkbox_style_orange 
                {% if 'b' in tags %}tags__checkbox_active{% endif %}" 
            href="{% if 'b' in tags %}{% url request.resolver_match.url_name %}?tags={{ tags|cut:'b' }}
                {% else %}{% url request.resolver_match.url_name %}?tags={{ tags|add:'b' }}{% endif %}">
        </a>
        <span class="tags__label">Завтрак</span>
    </li>
    <li class="tags__item">
        <a  id="dinner"
            class="tags__checkbox tags__checkbox_style_orange
                {% if 'd' in tags %}tags__checkbox_active{% endif %}" 
            href="{% if 'd' in tags %}{% url request.resolver_match.url_name %}?tags={{ tags|cut:'d' }}
                {% else %}{% url request.resolver_match.url_name %}?tags={{ tags|add:'d' }}{% endif %}">
        </a>
        <span for="dinner" class="tags__label">Обед</span>
    </li>
    <li class="tags__item">
        <a  id="supper"
            class="tags__checkbox tags__checkbox_style_orange
                {% if 's' in tags %}tags__checkbox_active{% endif %}" 
            href="{% if 's' in tags %}{% url request.resolver_match.url_name %}?tags={{ tags|cut:'s' }}
                {% else %}{% url request.resolver_match.url_name %}?tags={{ tags|add:'s' }}{% endif %}">
        </a>
        <label for="supper" class="tags__label">Ужин</label>
    </li>
    <li class="tags__item">
        <a  id="lunch"
            class="tags__checkbox tags__checkbox_style_green
                {% if 'l' in tags %}tags__checkbox_active{% endif %}"
            href="{% if 'l' in tags %}{% url request.resolver_match.url_name %}?tags={{ tags|cut:'l' }}
                {% else %}{% url request.resolver_match.url_name %}?tags={{ tags|add:'l' }}{% endif %}">
        </a>
        <label for="lunch" class="tags__label">Закуски</label>
    </li>
    <li class="tags__item">
        <a  id="dessert"
            class="tags__checkbox tags__checkbox_style_purple
                {% if 't' in tags %}tags__checkbox_active{% endif %}"
            href="{% if 't' in tags %}{% url request.resolver_match.url_name %}?tags={{ tags|cut:'t' }}
                {% else %}{% url request.resolver_match.url_name %}?tags={{ tags|add:'t' }}{% endif %}">
        </a>
        <label for="dessert" class="tags__label">Десерты</label>
    </li>
</ul>
